header {
    background-color: var(--clr1); 
    padding: 10px;
    border-radius: 20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.header-main-title {
    color: var(--clr0); 
    font-size: 50px;
    margin-left: 20px;
}

.header-main-nav {
    display: flex;
    font-size: 30px;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.main-logo {
    height: 10vh;
}

.header-btn {
    height: 3vh;
    width: 6vw;
    font-size: 23px;
    border-radius: 10px;
    background-color: rgb(71, 71, 161);
    color: white;
    font-family: "Copperplate Gothic Light";
    overflow: hidden;
    cursor: pointer;
    min-width: fit-content;
}